.venv/Lib/site-packages/click/utils.py
.venv/Lib/site-packages/blinker/__init__.py
.venv/Lib/site-packages/blinker/_utilities.py
.venv/Lib/site-packages/blinker/base.py
.venv/Lib/site-packages/blinker/py.typed
.venv/Lib/site-packages/click/__init__.py
.venv/Lib/site-packages/click/_compat.py
.venv/Lib/site-packages/click/_termui_impl.py
.venv/Lib/site-packages/click/_textwrap.py
.venv/Lib/site-packages/click/_winconsole.py
.venv/Lib/site-packages/click/core.py
.venv/Lib/site-packages/click/decorators.py
.venv/Lib/site-packages/click/exceptions.py
.venv/Lib/site-packages/click/formatting.py
.venv/Lib/site-packages/click/globals.py
.venv/Lib/site-packages/click/parser.py
.venv/Lib/site-packages/click/py.typed
.venv/Lib/site-packages/click/shell_completion.py
.venv/Lib/site-packages/click/termui.py
.venv/Lib/site-packages/click/testing.py
.venv/Lib/site-packages/click/types.py
.venv/Lib/site-packages/click/__pycache__/utils.cpython-312.pyc
.venv/Lib/site-packages/click-8.1.7.dist-info/INSTALLER
.venv/Lib/site-packages/click-8.1.7.dist-info/LICENSE.rst
.venv/Lib/site-packages/click-8.1.7.dist-info/METADATA
.venv/Lib/site-packages/click-8.1.7.dist-info/RECORD
.venv/Lib/site-packages/click-8.1.7.dist-info/top_level.txt
.venv/Lib/site-packages/click-8.1.7.dist-info/WHEEL
.venv/Lib/site-packages/colorama/__init__.py
.venv/Lib/site-packages/colorama/ansi.py
.venv/Lib/site-packages/colorama/ansitowin32.py
.venv/Lib/site-packages/colorama/initialise.py
.venv/Lib/site-packages/colorama/win32.py
.venv/Lib/site-packages/colorama/winterm.py
