.landing-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #fef2e9 100%, #f9e2d2 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
  margin-bottom: 2rem;
}

.landing-page h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  background: linear-gradient(to right, #ff912c, #ffa34e, #f9b16f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  text-align: left;
}

.content p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 1rem 0;
}

.upload-info {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  color: #ff912c;
}

.content button {
  padding: 1rem 2rem;
  font-size: 1rem;
  padding: 10px;
  background: linear-gradient(to right, #ff912c, #ffa34e, #f9b16f);
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.mockup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.laptop-mockup {
  width: 70%;
  max-width: 800px;
  border-radius: 20px;
  border: #111 2px solid;
}

@media (max-width: 500px) {
  .landing-page {
    text-align: center;
  }
  .landing-page h1 {
    text-align: center;
  }
  .mockup {
    display: none;
  }
}
