.app {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
  font-size: clamp(1.5rem, 5vw, 1.75rem);
}
h2 {
  text-align: center;
  color: #333;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #fbc02d;
  border: 1px solid #111;
  border-radius: 50px;
  font-size: 18px;
  color: #111;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ffb700;
}

label {
  display: block;
  margin-bottom: 30px;
  font-weight: 500;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

select:focus,
input[type="text"]:focus {
  border-color: #4a90e2;
  outline: none;
}

.instructions {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.instruction-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

.instruction-list li {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.note {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.file-upload {
  border: 2px dashed #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.file-label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  color: #888;
  text-align: center;
  line-height: 70px;
}

input[type="file"] {
  display: none;
}
.image-preview {
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.uploaded-image {
  width: 100%;
  height: auto;
  display: block;
}
.questionnaire p {
  text-align: center;
  font-size: 18px;
  color: #555;
}
