html,
body {
  height: 100%;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(to bottom, #fef2e9 100%, #f9e2d2 100%);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  height: 100vh;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
h1 {
  text-align: center;
  color: #333;
  font-size: clamp(1.5rem, 5vw, 1.75rem);
}
h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #fbc02d;
  border: 1px solid #111;
  border-radius: 50px;
  font-size: 18px;
  color: #111;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ff912c;
  color: #fff;
  font-weight: bold;
  border: none;
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #f9b16f;
  border-radius: 10px;
  font-size: 16px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

/* Questionnaire Page*/
.questionnaire {
  position: relative;
}
.questionnaire p {
  text-align: left;
  font-size: 18px;
  color: #555;
}

.questionnaire-navigation {
  margin-top: 20px;
  margin-left: -20px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  background-color: #fef2e9;
  box-shadow: 0px -5px 10px #f9b16f80;
}
.questionnaire-step button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
.questionnaire-step button:hover {
  background-color: #fbc02d;
  color: #111;
}
.questionnaire-step button.selected {
  background-color: #ff912c;
  color: #ffffff;
}
.next {
  width: 90%;
}
.questionnaire .skip {
  margin-top: 1.5rem;
  text-align: center;
  cursor: pointer;
}
.questionnaire .checkbox {
  text-align: left;
  margin-bottom: 0;
}
.questionnaire .back-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
}
.country-list {
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 10px;
}

.country-options {
  display: flex;
  flex-direction: column;
}
